.notecard{
    padding: 2.5rem 1.75rem;
    background-color: #282D35;
    height: 100vh; 
    background-image: url('../../public/reactjs-icon-2.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5%;
}

h1{
    margin: 0; 
    font-size: 2.25rem;
    color: #FFFFFF; 
}

ul li{
    color: #FFFFFF; 
    line-height: 2.5rem;
}

ul li::marker{
    color: #61DAFB;
    font-size: 1.4rem;
}